.material-icons {
  font-family: 'Material Icons';
  font-style: normal;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  margin: -8px;
}

.card {
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.05),0 1px 3px 1px rgba(60, 64, 67, 0.15);
  padding: 16px;
  border-radius: 4px;
  margin: 8px;
  width: calc(50% - 16px);
  color: rgba(0,0,0,.54) !important;
  display: flex;
}

@media screen and (max-width: 600px) {
  .card {
    width: calc(100% - 16px);
  }
}

a.card {
  transition: box-shadow 280ms ease-in-out !important;
}

a.card:hover {
  box-shadow: 0 1px 3px 0 rgba(84, 110, 122, 0.05),0 4px 8px 3px rgba(84, 110, 122, 0.15);
}

a.card h3 {
  margin-top: 0;
  margin-bottom: 8px;
  font-size: 24px;
}

.card-icon {
  color: rgb(84, 110, 122);
  margin-right: 24px;
  font-size: 24px;
  width: 24px;
  height: 24px;
}
